/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    margin-top: 10px;
    width: 800px;
    padding-top: 6px;
    border: 1px solid  #000000 ;
    background-color: #ffffff;
    margin-bottom: 10px;
  }
  html {
      background-image:url(https://cdn.discordapp.com/attachments/931766750280810549/1127724084084613171/ferwffs.png);
  }
  header img{
      float: left;
      margin-left: 18px;
      margin-top: 10px;	
  }
  main h1 {
      color:rgb(160, 116, 209);
      text-align: center;	
      font-size: x-large;
      text-shadow: #000000 1px 1px 2px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  /* nav menu */
  a:focus, a:hover {
      font-style: italic;
  }
  #nav_menu ul {
      list-style-type: none;
      position: relative;
      }
  #nav_menu ul ul {
      display: none;
      position: absolute;
      top: 100%;
      background-color: #dadada;
  }
  #nav_menu ul ul li {
      float: none;
      color: white;
      text-align: center;
      font-weight: bold;
  }
  #nav_menu ul li:hover > ul {
      display: block;
  }
  #nav_menu > ul::after {
      content: "";
      display: block;
      clear: both;
  }
  #nav_menu ul li {
      float: right;
  }
  #nav_menu ul li a {
      text-align: center;
      display:block;
      width: 140px;
      padding: 1.5em 0;
      color: rgb(63, 63, 63);
      background-color: #dadada;
      border: 1px #727272 solid;
      font-weight:bold;
      text-decoration: none;
      margin-right: 25px;
      margin-left: 5px;	
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h1 {
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
  }
  section2{
      padding: 20px;
  }
 
  section h2{
      padding-top: 12px;
      text-shadow: #000000 1px 1px 2px;
      color: rgb(134, 90, 184);
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      
      
  }
 
  section {
    padding: 50px;
    padding-bottom: 45px;
    background-color: #ffffff;
  }
  section img {
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    display: flex;
    border: 1px solid rgb(146, 68, 219);
    
  }
  section p {
      text-align: center;
      padding: 15px;
      margin-right: -4px;
      background-color: rgb(255, 255, 255);
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(61, 61, 61);
      font-size: large;
  }
  
  footer {
    background-color: #dadada;
    color: #000000;
    padding: 1px;
    text-align: center;
    margin-top: 0px;
    border-top: 1px solid black;
  }